Repository cputer/naestro: changes, and which Codecov flags are due for each by the changed paths.
All: ui, server, python

chore: adjust UI workflow directories
  .github/workflows/ci.yml
Due: none

chore(ci,npm): purge proxy settings and sanitize env to fix npm 'http-proxy' warning
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/NO_PROXY.md
  ui/package.json
Due: none

Install gateway dependencies in CI
  .github/workflows/ci.yml
Due: none

Include gateway dependencies for dev and CI
  .github/workflows/ci.yml
  requirements-dev.txt
Due: none

chore: reference gateway requirements in dev
  requirements-dev.txt
Due: none

chore: update react hooks eslint plugin
  ui/package-lock.json
  ui/package.json
Due: none

chore(ci): scope npm commands to ui directory
  .github/workflows/ci.yml
Due: none

docs: mention npm ci for node packages
  README.md
Due: none

build(ci): fix ESLint 9 peer deps by upgrading react-hooks plugin and scoping installs to ui
  .pre-commit-config.yaml
  ui/package-lock.json
  ui/package.json
Due: none

feat: add StateGraph fallback
  src/orchestrator/math_agent.py
Due: python

chore: add asyncio pytest marker
  pytest.ini
Due: none

Handle missing NLTK in orchestrator
  src/orchestrator/orchestrator.py
Due: python

Load nltk via importlib and add regression test
  src/orchestrator/orchestrator.py
  tests/test_orchestrator.py
Due: python

refactor: add nltk shim and data checks
  src/orchestrator/orchestrator.py
  tests/test_orchestrator.py
Due: python

Configure coverage in pyproject
  pyproject.toml
Due: none

test: add gateway error handling test
  tests/test_gateway_errors.py
Due: none

test: add init twice tests for rag
  tests/test_rag_init_twice.py
Due: none

test: cover nltk shim scenarios
  tests/test_orchestrator_nltk_shim.py
Due: none

feat: allow custom nltk packages
  src/orchestrator/orchestrator.py
  tests/test_orchestrator_nltk_shim.py
Due: python

chore: run consistent coverage tests
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  README.md
Due: none

Add comprehensive tests to reach full coverage
  tests/test_examples.py
  tests/test_gateway_streams.py
  tests/test_math_agent.py
  tests/test_orchestrator_main_extra.py
  tests/test_orchestrator_utils.py
  tests/test_rag.py
Due: none

test: cover orchestrate success
  tests/test_gateway_success.py
Due: none

Add token rounding utility and tests
  src/utils/__init__.py
  src/utils/token.py
  tests/test_utils_token.py
Due: python

test: add parse_math_query error test
  tests/test_math_agent_errors.py
Due: none

Exclude main guard from coverage
  jobs/pii_calibrate.py
Due: none

Add coverage pragma to governor main block
  scripts/governor.py
Due: none

Exclude install script main from coverage
  scripts/install_nltk_data.py
Due: none

chore: exclude scipy demo entry point from coverage
  src/examples/scipy_demo.py
Due: python

chore: exclude sympy demo entry point from coverage
  src/examples/sympy_demo.py
Due: python

chore(ci): add separate smoke and full workflows
  .github/workflows/ci-full-and-smoke.yml
Due: none

chore: tighten Codecov coverage gates
  codecov.yml
Due: none

test: configure vitest coverage
  ui/vitest.config.mjs
Due: none

feat(ui): add smoke test script
  ui/package.json
Due: none

docs: document CI profiles for local testing
  CONTRIBUTING.md
Due: none

Ensure 100% coverage in CI
  .github/workflows/ci-full-and-smoke.yml
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  codecov.yml
  pyproject.toml
  ui/src/components/__tests__/MetricsChart.test.jsx
  ui/src/components/__tests__/ServiceStatus.test.jsx
  ui/vitest.config.mjs
Due: ui

docs(roadmap): expand roadmap with 2025 innovations
  ROADMAP.md
Due: none

docs(readme): reference roadmap
  README.md
Due: none

Update ROADMAP.md
  ROADMAP.md
Due: none

Path conditions:
  ui: any of: ui/src, but not: tests/**, docs/**, scripts/**, **/node_modules/**
  server: any of: server/api, but not: tests/**, docs/**, scripts/**, **/node_modules/**
  python: any of: src, but not: tests/**, docs/**, scripts/**, **/node_modules/**
