Repository cputer/naestro: changes, and which Codecov flags are due for each by the changed paths.
All: ui, server, python

chore: expand CI workflow
  .github/workflows/ci.yml
Due: none

chore(ui): update test scripts and coverage config
  ui/package.json
  ui/vitest.config.mjs
Due: ui

test: add App and util tests
  ui/src/components/__tests__/App.test.jsx
  ui/src/lib/__tests__/util.test.ts
Due: ui

chore(server): add package setup and health test
  server/.gitignore
  server/api/health.test.ts
  server/package-lock.json
  server/package.json
  server/tsconfig.json
  server/vitest.config.ts
Due: server

Add gateway health smoke test
  .github/workflows/ci.yml
  tests/test_smoke.py
Due: none

chore: add node 22 helper files
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/codex-exec.yml
Due: none

chore(pre-commit): use system Node and document Node 22 setup
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

chore: enforce full coverage in codecov
  codecov.yml
Due: none

test(ui): enforce 100% coverage thresholds
  ui/vitest.config.mjs
Due: ui

ci: upload coverage to Codecov
  .github/workflows/ci.yml
Due: none

chore(ui): exclude bootstrap files from coverage
  ui/vitest.config.mjs
Due: ui

test: add msw mocks for UI tests
  ui/package-lock.json
  ui/package.json
  ui/src/mocks/handlers.js
  ui/src/mocks/server.js
  ui/vitest.setup.js
Due: ui

test: add routing and token utility tests
  server/src/orchestrator/policy/__tests__/routing.spec.ts
  server/src/orchestrator/policy/routing.ts
  server/src/utils/__tests__/token.spec.ts
  server/src/utils/token.ts
Due: server

test: cover health endpoint and upload server coverage
  .github/workflows/ci.yml
  server/api/health.test.ts
Due: server

test: add dashboard and editor tests
  ui/src/__tests__/codeEditor.events.test.jsx
  ui/src/__tests__/dashboard.test.jsx
  ui/src/__tests__/liveMonitor.test.jsx
  ui/src/__tests__/orchestrateForm.test.jsx
Due: ui

test: add OrchestrateFlow unit test
  ui/src/__tests__/OrchestrateFlow.test.jsx
Due: ui

Add coverage configuration
  .coveragerc
  .github/workflows/ci.yml
  .gitignore
Due: none

chore: update Codecov configuration
  codecov.yml
Due: none

refactor: update vitest config to strict coverage
  ui/vitest.config.mjs
Due: ui

ci: show UI coverage files
  .github/workflows/ci.yml
Due: none

test: add service status and metrics chart tests
  ui/src/components/__tests__/MetricsChart.test.jsx
  ui/src/components/__tests__/ServiceStatus.test.jsx
Due: ui

test(ui): enable vitest globals and react plugin
  ui/vitest.config.mjs
Due: ui

build: enforce Node 22 usage
  .github/workflows/commit-messages.yml
  .github/workflows/pr-title.yml
  CONTRIBUTING.md
  server/package.json
  ui/package.json
Due: ui, server

refactor: simplify ServiceStatus
  ui/src/components/ServiceStatus.jsx
  ui/src/components/__tests__/ServiceStatus.test.jsx
Due: ui

test: migrate vitest setup to src
  ui/src/setupTests.ts
  ui/vitest.config.mjs
Due: ui

feat(ui): mock status and metrics endpoints
  ui/src/mocks/handlers.js
Due: ui

test: enforce full coverage
  ui/vitest.config.mjs
Due: ui

feat(ui): allow custom metric source for chart
  ui/src/components/MetricsChart.jsx
  ui/src/components/__tests__/MetricsChart.test.jsx
  ui/src/components/__tests__/__snapshots__/MetricsChart.test.jsx.snap
Due: ui

ci: validate ui coverage paths
  .github/workflows/ci.yml
Due: none

feat: configure coverage targets
  codecov.yml
Due: none

chore: remove codecov uploads
  .github/workflows/ci.yml
Due: none

ci: cache python deps
  .github/workflows/ci.yml
Due: none

test: use getMetrics emitter in MetricsChart tests
  ui/src/components/__tests__/MetricsChart.test.jsx
Due: ui

test: add async status rendering test
  ui/src/components/__tests__/ServiceStatus.test.jsx
Due: ui

test: remove outdated LiveMonitor test
  ui/src/__tests__/liveMonitor.test.jsx
Due: ui

chore: enforce baseline coverage gates
  codecov.yml
Due: none

Mark slow tests and add nightly workflow
  .github/workflows/nightly.yml
  pytest.ini
  tests/test_gateway.py
Due: none

docs: note Node 22 runtime
  README.md
Due: none

chore: configure ui coverage
  .github/workflows/ci.yml
  ui/vitest.config.mjs
Due: ui

chore: add dev requirements and coverage upload
  .github/workflows/ci.yml
  requirements-dev.txt
Due: none

Path conditions:
  ui: any of: ui/, but not: tests/**, docs/**, scripts/**, **/node_modules/**
  server: any of: server/, but not: tests/**, docs/**, scripts/**, **/node_modules/**
  python: any of: src/, but not: tests/**, docs/**, scripts/**, **/node_modules/**
